<app-title title="Defer views" />

<section class="grid grid-col-1 md:grid-cols-1 gap-3">
    <div class="bg-white rounded shadow p-10">
        <div class="h-[600px]">
            @defer (on viewport) {
                <app-heavy-loaders-slow />
            } @placeholder {
                <p>Loading...</p>
            }
        </div>
    </div>
    <div class="bg-white rounded shadow p-10">
        <div class="h-[600px]">
            @defer (on viewport) {
                <app-heavy-loaders-slow />
            } @placeholder {
                <p>Loading...</p>
            }
        </div>
    </div>
    <div class="bg-white rounded shadow p-10">
        <div class="h-[600px]">
            @defer (on viewport) {
                <app-heavy-loaders-slow />
            } @placeholder {
                <p>Loading...</p>
            }
        </div>
    </div>
</section>